@model MyPhamCheilinus.Models1.DonVi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>DonVi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDonVi" class="control-label"></label>
                <input asp-for="MaDonVi" class="form-control" />
                <span asp-validation-for="MaDonVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDonVi" class="control-label"></label>
                <input asp-for="TenDonVi" class="form-control" />
                <span asp-validation-for="TenDonVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuanSo" class="control-label"></label>
                <input asp-for="QuanSo" class="form-control" />
                <span asp-validation-for="QuanSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MauSac" class="control-label"></label>
                <input asp-for="MauSac" class="form-control" />
                <span asp-validation-for="MauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
