@model IEnumerable<DonVi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .fc-day-grid-event fc-h-event fc-event fc-start fc-end {
        background-color: #7B1FA2 !important; /* Màu nền của sự kiện cho C154 */
        border-color: #7B1FA2 !important; /* Màu viền của sự kiện cho C154 */
        color: #ffffff !important; /* Màu chữ của sự kiện cho C154 */
    }

</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách Lịch gác Tiểu đoàn 1  </h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 text-center">
                <div class="sticky-top mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h class=" text-center">Đại đội</h>
                        </div>
                        <div class="card-body">

                            <div id="external-events">
                                <tbody>
                                    @if (Model != null)
                                    {

                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="external-event draggable-event" data-donvi="C154" style="position: relative; color: white; background-color: @item.MauSac">
                                                        <h6 class="m-b-0 m-l-10">@item.MaDonVi</h6>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </div>

                            @*<div class="d-flex align-items-center">
                            <div class="form-group">
                            <input type="text" class="form-control" id="tenDonVi" placeholder="Nhập tên đơn vị">
                            </div>
                            <button type="button" class="btn btn-primary align-self-center" onclick="ThemDonVi()">Thêm</button>
                            </div>*@
                            <button type="button" class="btn btn-primary align-self-center" onclick="PhanCongGac()">Phân công gác</button>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>



            <div class="col-md-10">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-bootstrap"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" style="display:none;"></div>
<div id="edit-dialog" style="display:none;">
    <form id="edit-form" method="post">
        <div class="form-group">
            <label for="EditMaDonVi">Đại đội:</label>
            <select class="form-control" id="EditMaDonVi" name="MaDonVi">
                <option value="C155">C155</option>
                <option value="C156">C156</option>
                <option value="C157">C157</option>
                <option value="C158">C158</option>
            </select>
        </div>
        <div class="form-group">
            <label for="EditNgay">Ngày gác:</label>
            <input type="date" class="form-control" id="EditNgay" name="Ngay" />
        </div>
        <div class="form-group">
            <label for="EditHoi">Hỏi:</label>
            <input type="text" class="form-control" id="EditHoi" name="Hoi" />
        </div>
        <div class="form-group">
            <label for="EditDap">Đáp:</label>
            <input type="text" class="form-control" id="EditDap" name="Dap" />
        </div>
    </form>
</div>




<div id="add-dialog" style="display:none;">
    <form id="add-form" method="post">
        <div class="form-group">
            <label for="MaDonVi">Đại đội:</label>
            <select class="form-control" id="MaDonVi" name="MaDonVi">
                <option value="C155">C155</option>
                <option value="C156">C156</option>
                <option value="C157">C157</option>
                <option value="C158">C158</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Ngay">Ngày gác:</label>
            <input type="date" class="form-control" id="Ngay" name="Ngay" />
        </div>
        <div class="form-group">
            <label for="Hoi">Hỏi:</label>
            <input type="text" class="form-control" id="Hoi" name="Hoi" />
        </div>
        <div class="form-group">
            <label for="Dap">Đáp:</label>
            <input type="text" class="form-control" id="Dap" name="Dap" />
        </div>
    </form>
</div>







@section Scripts{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                dayClick: function (date, jsEvent, view) {

                    $.ajax({
                        url: '/ThongTinGacs/CheckEvents_D1',
                        type: 'POST',
                        data: { date: date.format('YYYY-MM-DD') },
                        success: function (response) {
                            if (response.hasEvents) {
                                // Ngày đã có ngày gác, hiển thị thông báo hoặc thực hiện hành động khác
                                alert('Ngày đã có ngày gác. Không thể thêm ngày gác mới.');
                            } else {
                                // Ngày chưa có ngày gác, mở hộp thoại thêm ngày gác
                                $('#add-form').find('#Ngay').val(date.format('YYYY-MM-DD'));
                                // Open the add dialog
                                $('#add-dialog').dialog({
                                    title: 'Thêm ngày gác',
                                    modal: true,
                                    buttons: {
                                        "Lưu": function () {
                                            // Lấy ngày gác mới từ form
                                            var newEvent = {
                                                MaDonVi: $('#add-form').find('#MaDonVi').val(),
                                                Ngay: $('#add-form').find('#Ngay').val(),
                                                Hoi: $('#add-form').find('#Hoi').val(),
                                                Dap: $('#add-form').find('#Dap').val()
                                            };

                                            // Gửi một yêu cầu AJAX để thêm ngày gác mới vào cơ sở dữ liệu3
                                            $.ajax({
                                                url: '/ThongTinGacs/AddEvent',
                                                type: 'POST',
                                                data: newEvent,
                                                success: function (response) {
                                                    if (response.status) {
                                                        // Display a success message
                                                        alert(response.message);
                                                        // Refresh the calendar to reflect the new event
                                                        $('#calendar').fullCalendar('refetchEvents');
                                                    }
                                                    else {
                                                        // Display an error message
                                                        alert(response.message);
                                                    }
                                                    // Close the edit dialog
                                                    $('#add-dialog').dialog('close');
                                                },
                                                error: function (xhr, status, error) {
                                                    // Display an error message
                                                    alert('Bạn cần tài khoản có đủ thẩm quyền.');
                                                    console.log(xhr.responseText);
                                                }
                                            });
                                        },
                                        "Hủy": function () {
                                            // Close the edit dialog
                                            $(this).dialog('close');
                                        }
                                    }
                                });
                                $('#add-dialog').on('dialogclose', function () {
                                    $('#add-form')[0].reset();
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            // Display an error message
                            alert('Có lỗi xảy ra khi kiểm tra ngày gác.');

                            // Log the error to the console
                            console.log(xhr.responseText);

                            // Keep the add dialog open
                        }
                    });
                },



                events: '@Url.Action("GetEvents_D1", "ThongTinGacs")',
                eventMouseover: function (event, jsEvent, view) {
                    var tooltip = '<div class="tooltipevent" style="width:auto;height:auto;background:#fff;position:absolute;z-index:10001;">' +
                        '<div class="tooltipheader">' + event.title + '</div>' +
                        '<div class="tooltipbody">' +
                        '<p>Ngày gác: ' + moment(event.start).format('DD/MM/YYYY') + '</p>' +
                        '<p>Đại đội: ' + event.title + '</p>' +
                        '<p>Hỏi: ' + event.hoi + '</p>' +
                        '<p>Đáp: ' + event.dap + '</p>' +
                        '</div>' +
                        '</div>';

                    $("body").append(tooltip);

                    $(this).mouseover(function (e) {
                        $(this).css('z-index', 10000);
                        $('.tooltipevent').fadeIn('500');
                        $('.tooltipevent').fadeTo('10', 1.9);
                    }).mousemove(function (e) {
                        $('.tooltipevent').css('top', e.pageY + 10);
                        $('.tooltipevent').css('left', e.pageX + 20);
                    });
                },
                eventMouseout: function (event, jsEvent, view) {
                    $(this).css('z-index', 8);
                    $('.tooltipevent').remove();
                },
                eventClick: function (event) {
                    // open a dialog with event details
                    $('#dialog').dialog({
                        title: event.title,
                        modal: true,
                        open: function () {
                            // display event information in the dialog
                            $(this).html(
                                '<table class="table table-bordered">' +
                                '<tr>' +
                                '<td>Ngày gác</td>' +
                                '<td>' + moment(event.start).format('DD/MM/YYYY') + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>Đại đội</td>' +
                                '<td>' + event.title + '</td>' +
                                '</tr>' +
                                 '<tr>' +
                                '<td>Hỏi</td>' +
                                '<td>' + event.hoi + '</td>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>Đại đội</td>' +
                                '<td>' + event.dap + '</td>' +
                                '</tr>' +
                                '</table>' +
                                '<div class="btn-group">' +
                                '<button id="edit-button" class="btn btn-primary">Sửa</button>' +
                                '<button id="delete-button" class="btn btn-danger">Xóa</button>' +
                                '<button id="lichgac-button" class="btn btn-success" data-ngay="' + moment(event.start).format('DD/MM/YYYY') + '">Lịch gác</button>' +

                                '</div>'
                            );

                            $('#lichgac-button').click(function () {
                                // Lấy giá trị ngày từ thuộc tính dữ liệu
                                var ngay = $(this).data('ngay');

                                // Chuyển hướng đến action Index của PhanConHocVienController với đầu vào là ngày
                                window.location.href = '/PhanCongHocVien/Index?ngay=' + ngay;
                            });
                            // assign edit function to edit button
                            $('#edit-button').click(function () {
                                // close the dialog
                                $('#dialog').dialog('close');
                                // open another dialog with a form to edit the event
                                $('#edit-dialog').dialog({
                                    title: 'Sửa ngày gác',
                                    modal: true,
                                    open: function () {
                                        // display the current event information in the form
                                        $('#edit-form').find('#EditMaDonVi').val(event.title);
                                        $('#edit-form').find('#EditNgay').val(moment(event.start).format('YYYY-MM-DD'));
                                        $('#edit-form').find('#EditHoi').val(event.hoi);
                                        $('#edit-form').find('#EditDap').val(event.dap);

                                    },
                                    buttons: {
                                        "Lưu": function () {
                                            // get the updated event information from the form
                                            var updatedEvent = {

                                                MaDonVi: $('#edit-form').find('#EditMaDonVi').val(),
                                                Ngay: $('#edit-form').find('#EditNgay').val(),
                                                Hoi: $('#edit-form').find('#EditHoi').val(),
                                                Dap: $('#edit-form').find('#EditDap').val()

                                            };

                                            // send an AJAX request to update the event in the database
                                            $.ajax({
                                                url: '/ThongTinGacs/EditEvent',
                                                type: 'POST',
                                                data: updatedEvent,
                                                success: function (response) {
                                                    // check the response status
                                                    if (response.status === 'success') {
                                                        // display a success message
                                                        alert(response.message);
                                                        // refresh the calendar to reflect the updated event
                                                        $('#calendar').fullCalendar('refetchEvents');
                                                    } else {
                                                        // display an error message
                                                        alert(response.message);
                                                    }
                                                    // close the edit dialog
                                                    $('#edit-dialog').dialog('close');
                                                },
                                                error: function (xhr, status, error) {
                                                    // display an error message
                                                    alert('Bạn cần tài khoản có đủ thẩm quyền.');
                                                    console.log(xhr.responseText);
                                                }
                                            });
                                        },
                                        "Hủy": function () {
                                            // close the edit dialog
                                            $(this).dialog('close');
                                        }
                                    }
                                });
                            });

                            // assign delete function to delete button
                            $('#delete-button').click(function () {
                                // close the dialog
                                $('#dialog').dialog('close');
                                // ask for confirmation before deleting the event
                                if (confirm('Bạn có chắc chắn muốn xóa ngày gác này không?')) {
                                    // send an ajax request to delete the event from the database
                                    $.ajax({
                                        url: '@Url.Action("DeleteEvent", "ThongTinGacs")',
                                        data: { id: moment(event.start).format('YYYY-MM-DD') },
                                        type: 'POST',
                                        success: function (result) {
                                            if (result.status == 'success') {
                                                // remove the event from the calendar
                                                $('#calendar').fullCalendar('removeEvents', event.id);
                                                alert('Đã xóa ngày gác thành công.');
                                            } else {
                                                alert('Không thể xóa ngày gác. Lỗi: ' + result.message);
                                            }
                                        },
                                        error: function (xhr, status, error) {
                                            alert('Bạn cần tài khoản có đủ thẩm quyền.');
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            });
        });
    </script>
    <script>
        var maPhanCongCounter = 1;
        var successMessageShown = false;
        var successMessageShown1 = false;

        //function PhanCongGac() {
        //    successMessageShown = false;
        //    successMessageShown1 = false;
        //    var donViList = ["C155", "C156", "C157","C158"];
        //    var today = moment();
        //    var lastDayOfMonth = moment().endOf('month');




        //     if (today.date() >= 3) {
        //    // Nếu có, chuyển sang tháng tiếp theo
        //    today.add(1, 'month');
        //    // Đặt ngày về đầu tháng
        //    today.startOf('month');
        //    // Cập nhật lastDayOfMonth
        //    lastDayOfMonth = moment().add(1, 'months').endOf('month');
        //    }
        //    while (today.isSameOrBefore(lastDayOfMonth)) {
        //        var donViIndex = maPhanCongCounter % donViList.length;

        //        var newEvent = {
        //            MaDonVi: donViList[donViIndex], // Sử dụng chỉ số của danh sách đơn vị
        //            Ngay: today.format('YYYY-MM-DD'),
        //        };

        //        maPhanCongCounter++;

        //        console.log("Sự kiện mới: ", newEvent); // In ra thông tin sự kiện để kiểm tra

        //        // Thực hiện kiểm tra trước khi thêm sự kiện
        //        CheckEvents(newEvent);

        //        today.add(1, 'day'); // Tăng ngày lên 1 để chuyển sang ngày tiếp theo
        //    }
        //}
        function PhanCongGac() {
            successMessageShown = false;
                successMessageShown1 = false;
                var donViList = ["C155", "C156", "C157","C158"];
                var today = moment();
                var lastDayOfMonth = moment().endOf('month');




                 if (today.date() >= 6) {
                // Nếu có, chuyển sang tháng tiếp theo
                today.add(1, 'month');
                // Đặt ngày về đầu tháng
                today.startOf('month');
                // Cập nhật lastDayOfMonth
                lastDayOfMonth = moment().add(1, 'months').endOf('month');
                }

            // Lấy giá trị donVi cho ngày trước đó từ cơ sở dữ liệu
            $.ajax({
                url: '/ThongTinGacs/GetDonViForDate',
                type: 'POST',
                data: { date: today.clone().subtract(1, 'days').format('YYYY-MM-DD') },
                success: function (response) {
                    if (response.status === 'success') {
                        // Xác định điểm bắt đầu trong donViList dựa trên giá trị của ngày trước đó
                        var indexBeforeToday = donViList.indexOf(response.donVi);
                        if (indexBeforeToday !== -1) {
                            donViList = donViList.slice(indexBeforeToday + 1).concat(donViList.slice(0, indexBeforeToday + 1));
                        }

                        // Tiếp tục với vòng lặp
                        while (today.isSameOrBefore(lastDayOfMonth)) {
                            var donViIndex = maPhanCongCounter % donViList.length;

                            var newEvent = {
                                MaDonVi: donViList[donViIndex], // Sử dụng chỉ số của danh sách đơn vị
                                Ngay: today.format('YYYY-MM-DD'),
                            };

                            maPhanCongCounter++;

                            console.log("Sự kiện mới: ", newEvent); // Ghi thông tin sự kiện để kiểm tra

                            // Thực hiện kiểm tra trước khi thêm sự kiện
                            CheckEvents(newEvent);

                            today.add(1, 'day'); // Tăng ngày lên 1 để chuyển sang ngày tiếp theo
                        }
                    } else {
                        // Xử lý phản hồi lỗi
                        console.log(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi
                    console.log('Lỗi khi truy vấn giá trị donVi cho ngày trước đó.');
                }
            });
        }

        function CheckEvents(newEvent) {
            // Gửi yêu cầu kiểm tra sự kiện qua AJAX
            $.ajax({
                url: '/ThongTinGacs/CheckEvents_D1',
                type: 'POST',
                data: { date: newEvent.Ngay },
                success: function (response) {
                    if (!response.hasEvents) {
                        // Ngày chưa có sự kiện, thêm sự kiện mới

                        AddEvent(newEvent);

                    } else if (response.hasEvents && !successMessageShown1) {
                        // Ngày đã có sự kiện, hiển thị thông báo hoặc xử lý theo ý bạn
                        alert('Ngày đã có ngày gác. Không thể thêm ngày gác mới.');
                        successMessageShown1 = true;
                    }
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi khi kiểm tra sự kiện
                    alert('Có lỗi xảy ra khi kiểm tra sự kiện.');
                    console.log(xhr.responseText);
                }
            });
        }

        function AddEvent(newEvent) {
            // Thực hiện thêm sự kiện qua AJAX
            $.ajax({
                url: '/ThongTinGacs/AddEvent',
                type: 'POST',
                data: newEvent,
                success: function (response) {
                    if (response.status === 'success' && !successMessageShown) {
                        // Hiển thị thông báo thành công
                        alert(response.message);
                        // Cập nhật lịch
                        $('#calendar').fullCalendar('refetchEvents');
                        successMessageShown = true;
                    }
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi khi thêm sự kiện
                    if (!successMessageShown) {
                        alert('Bạn cần tài khoản có đủ thẩm quyền.');
                        console.log(xhr.responseText);
                        successMessageShown = true;
                    }
                  
                }
            });
        }
    </script>


}

















